@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Nosifer&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }

  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .custom-shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  }

  .w-terminal {
    width: 36rem;
  }

  pre,
  code {
    padding: 0px !important;
  }

  .hw-inner {
    height: 28rem;
    width: 28rem;
  }

  .hw-outer {
    height: 36rem;
    width: 36rem;
  }

  .anim-8s {
    animation-duration: 8s !important;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.4s;
}

.container_main {
  max-width: 1180px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0% auto;
}

.container_div {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0% auto;
}

.some {
  max-width: 1280px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0% auto;
}

.swiper-pagination-bullet-active {
  background-color: yellow !important;
}

.swiper-pagination-bullet {
  background-color: yellow !important;
}

.accordion-item-container {
  transition: height 0.2s ease-in-out;
  overflow: hidden;
}

/* .swiper-button-prev {
  background-color: red !important;
  padding: 30px !important;
  font-size: small !important;
  border-radius: 50% !important;
  color: yellow !important;
}

.swiper-button-next {
  color: yellow !important;
} */

.boxtwo {
  transition: ease-in-out 4s;
}

.boxtwo {
  background-position: top;
  background-size: cover;
  /* background-image: url(../public/temp.jpg); */
}

.boxtwo:hover {
  background-position: bottom;
}

.mantine-Pagination-item {
  color: #eab434;
  /* background-color: #e5e7eb; */
}

.bgcover {
  background-color: #e5e7eb;
  clip-path: polygon(45% 39%,
      45% 0,
      100% 0,
      100% 100%,
      70% 100%,
      30% 100%,
      0 100%,
      0 39%);
}

.shaper {
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}